.portfolioBoardStyle{
    display: flex;
    justify-content: center;
}

.portfolioBoardListStyle{
    display: flex;
    width: 1600px;
    gap: 45px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.portfolio{
    border: 1px solid gray;
}

.portfolio:hover{
    box-shadow: 0px 0px 10px black;
}